<style>
ul, ol {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.none {
    display:none;
}
.block {
    display:initial;
}

#header {
    display:flex;
    background:#fcfdff;
  align-items: center;
}

#tab {
    display:flex;
    background-color:#d3e3fd;
    height:3em;
}
#videos {
    display:flex;
    margin-left:auto;
    margin-right:1em;
  place-items: center;
}

#text {
    width:15em;
    height:1em;
    font-size:15px;
    border-radius:10px;
    outline:none;
    border:none;
    background:#fff;
    border:2px solid #cdcdcd;
    padding:5px;
    padding-left:10px;
}
.prev_button , .next_button {
    width:4em;
    height:4em;
    margin:1em;
    border-radius:5em;
    transition: all 0.2s  ease-in;
}
.prev_arrow{
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 2.5em;
  height: 0.4em;
  border-radius:5px;
  background: currentColor;
}

.prev_arrow::before{
  content: '';
  width: 1.5em;
  height: 1.5em;
  border: 0.5em solid currentColor;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
  transform-origin: top left;
  position: absolute;
  top: 50%;
  left: -0.05em;
  box-sizing: border-box;
}

.next_arrow {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 2.5em;
  height: 0.4em;
  border-radius:5px;
  background: currentColor;
}

.next_arrow::before {
  content: '';
  width: 1.5em;
  height: 1.5em;
  border: 0.5em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  top: 50%;
  right: -0.05em;
  box-sizing: border-box;
}

#imgbox {
    position:relative;
    border:2px solid #cdcdcd;
    overflow-y:scroll;
    overflow-x:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* #imgbox::-webkit-scrollbar {
    display: none;
} */


#img {
    width:100%;
    height:auto;
}

.scroll {
    display:inline-block;
    position:sticky;
    top:0;
    color:#444;
    padding:0;
    margin:0;
}

#video {
    position:absolute;
    top:1032px;
    height:85vh;
    width:auto;
}

.pointer {
    /* width:20px;
    height:20px; */
    color:black;
    border-radius:5px;
    background-color:red;
    text-align:center;
    opacity:0.5;
}

.submit {
    display:inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 10em;
	margin: auto;
	padding: 1vh;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
    cursor:pointer;
}
.submit:hover {
    	color: #27acd9;
	background: #fff;
}

body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
/* section {
    margin-left:auto;
    margin-right:1em;
} */
.btn-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #444;
    border-radius: 4px;
  }
  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 20px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }

#menu.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#menu.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
#menu.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
#menu.active span:nth-of-type(3) {
  opacity: 0;
}
#menu_list , #hide_tab{
   position: absolute;
   top: 1032px;
   bottom: 0;
   width: 200px;
   right: -500px;
   height: 100%;
   -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease;
  background-color:#FFFFF4;
}

 #menu_list.active , #hide_tab.active{
  -webkit-transform: translate(-500px, 0px);
  -moz-transform: translate(-500px, 0px);
  -o-transform: translate(-500px, 0px);
  -ms-transform: translate(-500px, 0px);
  transform: translate(-500px, 0px);
}

#menu_list ul.mobile-nav > li > p {
    height:100%;
    margin:0;
    text-align:center;
  background: #4F7389;
  color: #FFFFFF;
  font-size: 24px;
}
.mobile-nav ul.sub-menu {
  text-transform: uppercase;
}
.mobile-nav button {
  display: block;
  color: #777779;
  width:100%;
  padding: 15px 30px;
  border-top: 1px solid #4F7389;
  text-decoration: none;

}

.mobile-nav button:hover{
    background: #4F7389;
    color: #FFFFFF;
}
#menu_list.active {
  overflow-x: hidden;
}
video {
    width:100%;
    height:auto;
}
/* .btn{
    color: #444;
    border-radius: 4px;
    text-decoration: none;
    padding: 1em 2em;
    font-size: 0.7em;
    width: 10em;
    margin-right:10px;
    text-align: center;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.btn_link {
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 10px;
    width: 10em;
    margin-right:10px;
    text-align: center;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-facebook { background-color: #25355F; }
.btn-twitter { background-color: #1688DF; }
.btn-line { background-color: #118000; }
.btn-youtube {
    background-color: red;
    border:1px solid red;
    &.active {
        background-color:white;
        color:red;
    }
}
.btn-video {
    background-color:black;
    border:1px solid black;
    &.active {
        background-color:white;
        color:black;
    }
}
#tab_title {
    display:flex;
    height:100%;
    align-items:center;
}
.tab_main {
    display:flex;
    align-items:center;
}
.tab {

    width:15em;
    font-size:1em;
    color:#444;
            text-align: center;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
      border-left:5px solid #bbd4fb;
    border-radius:2px;
    &.active {
        background-color:#fff;
        pointer-events: none;
    }
}
.tab:hover {
    background-color:#a8c7fa;
}
.tab_rm {
    font-size:1em;
    margin-left:auto;
    margin-right:0.5em;
    border-radius:1em;
    height:100%;
    background-color:#fff;
}
#protrude_tab span{
    display:flex;
    font-size:1em;
    margin-left:auto;
    padding: 0.2em;  
    margin-right:0.5em;
    border-radius:1em;
    background-color:#fff;
}
#protrude_tab span:hover{
    background-color:#a8c7fa;
}

</style>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/16eab4fef0.js" crossorigin="anonymous"></script>


<%# <p id="error" style="display:none;"></p> %>
    
<% flash.each do |message_type, message| %>
<%# エラーメッセージvscodeの左下のやつみたいに三段階くらいにわける。 %>
<div class="flex justify-center">
<div role="alert" class="absolute alert alert-<%= message_type %> shadow-lg w-11/12 mt-2 opacity-80">
  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
  <div>
    <h3 class="font-bold"><%= message[0] %></h3>
    <div class="text-xs"><%= message[1] %></div>
  </div>
  <button class="btn btn-sm btn-<%= message_type %>">See</button>
</div>
</div>
<% end %>

<% if !@test.nil? %>
<%= @test %>
<% end %>

<!--TODO:待機時間をpostで送信したら送信した後に@file_pathが空になったりすることとかない野郎からする-->
<% if !@selects.nil? %>
<% @selects.each do |selects| %>
<%= selects.html_safe %>
<% end %>
<% end %>

<main class="grid grid-cols-[auto_1fr] grid-rows-[auto_1fr]">
    <div id="logo_menu" class="h-[10vh] w-64 bg-purple-100 flex items-center">
        <div id="site_logo">
            <%= image_tag "picbro_logo.png", size: "120x50", alt: "picbro logo" %>
        </div>
        <div id="status_check">
            <div id="normal_browser_status">
                <% if !@other_information.nil? && @other_information.include?("normalBrowser") %>
                    <p class="text-green-300">Browser 〇</p>
                <% else %>
                    <p class="text-red-500">Browser ×</p>
                <% end %>
            </div>
            <div id="tor_browser_status">
                <% if !@other_information.nil? && @other_information.include?("torBrowser") %>
                    <p class="text-green-300">Tor 〇</p>
                <% else %>
                    <p class="text-red-500">Tor ×</p>
                <% end %>
            </div>
        </div>
    </div>

    <div id="main_menu" class="h-[10vh] bg-white flex items-center w-full">
        <div class="lg:tooltip" data-tip="ブラウザーを作成">
            <button id="createButton" class="browser-btn btn-circle text-xs mx-0 sm:mx-1 w-9 sm:w-11 h-9 sm:h-11">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 119.8">
                <path d="M23.59,0h75.7a23.63,23.63,0,0,1,23.59,23.59V96.21A23.64,23.64,0,0,1,99.29,119.8H23.59a23.53,23.53,0,0,1-16.67-6.93l-.38-.42A23.49,23.49,0,0,1,0,96.21V23.59A23.63,23.63,0,0,1,23.59,0ZM55.06,38.05a6.38,6.38,0,1,1,12.76,0V53.51H83.29a6.39,6.39,0,1,1,0,12.77H67.82V81.75a6.38,6.38,0,0,1-12.76,0V66.28H39.59a6.39,6.39,0,1,1,0-12.77H55.06V38.05ZM99.29,12.77H23.59A10.86,10.86,0,0,0,12.77,23.59V96.21a10.77,10.77,0,0,0,2.9,7.37l.28.26A10.76,10.76,0,0,0,23.59,107h75.7a10.87,10.87,0,0,0,10.82-10.82V23.59A10.86,10.86,0,0,0,99.29,12.77Z"/>
                </svg>
            </button>
        </div>

        <%= button_to "/browser/prev",:class => "browser-btn btn-circle mx-0 sm:mx-1 w-9 sm:w-11 h-9 sm:h-11",:id => "arrow", :method => :get do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 sm:w-10 h-10 sm:h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>        
        <% end %>

        <%= button_to "/browser/next",:class => "browser-btn btn-circle mx-0 sm:mx-1 w-9 sm:w-11 h-9 sm:h-11",:id => "arrow",:method => :get do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 sm:w-10 h-10 sm:h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
        <% end %>

        <%= button_to "/browser/screen-shot",:class => "browser-btn btn-circle sm:mx-1 w-9 sm:w-11 h-9 sm:h-11", :method => :get do %>
            <svg class="w-10 sm:w-10 h-10 sm:h-10 text-gray-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="23 4 23 10 17 10" />  <path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10" /></svg>
        <% end %>

        <%= form_tag('/browser/access',:method => :psot,:class => "w-full flex items-center join-item") do %>
            <div class="flex-auto">
                <label for="default-search" class=" text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" name="url" id="url" class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://" required />
                    <button class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">検索</button>
                </div>
            </div>

            <div class="ml-5 flex select-none items-center justify-center gap-[8px] rounded-md border px-[10px] py-[8px] outline-none md:h-fit md:min-w-[auto] md:flex-grow-0 h-[42px] min-w-[200px] flex-grow bg-blue-secondary   text-blue-primary border-blue-primary">
                <div class="label">
                    <svg class="flex-shrink-0 w-6 h-6 text-indigo-600 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
                    <g><path d="M210.16,276.71c-0.211,0.105-21.58,10.51-41.574,10.51c-20.07,0-41.4-10.425-41.613-10.53l-16.715,33.527    c1.181,0.592,29.265,14.466,58.328,14.466s57.147-13.874,58.328-14.466L210.16,276.71z"/></g><g><path d="M384.989,276.71c-0.21,0.105-21.58,10.51-41.574,10.51c-20.07,0-41.4-10.425-41.613-10.53l-16.715,33.527    c1.181,0.592,29.265,14.466,58.328,14.466c29.063,0,57.147-13.874,58.328-14.466L384.989,276.71z"/></g><g><path d="M256,374.634c-13.772,0-24.976,11.204-24.976,24.976c0,13.772,11.204,24.976,24.976,24.976    c13.767,0,24.971-11.202,24.976-24.976C280.976,385.838,269.774,374.634,256,374.634z"/></g><g><polygon points="287.976,144.369 274.732,112.393 193.561,112.393 193.561,149.856 229.51,149.856 186.56,192.805     199.805,224.783 280.976,224.783 280.976,187.32 245.027,187.32   "/></g><g><polygon points="394.123,119.391 380.878,87.415 299.707,87.415 299.707,124.878 335.656,124.878 292.707,167.829     305.951,199.805 387.122,199.805 387.122,162.341 351.173,162.341   "/></g><g><polygon points="500.269,94.415 487.024,62.439 405.854,62.439 405.854,99.902 441.802,99.902 398.853,142.853 412.098,174.829     493.268,174.829 493.268,137.366 457.32,137.366   "/></g>
                    <g><path d="M508.251,212.293h-38.109c2.878,14.128,4.394,28.744,4.394,43.707c0,120.501-98.036,218.537-218.537,218.537    S37.463,376.501,37.463,256S135.499,37.463,256,37.463c25.519,0,50.025,4.412,72.811,12.488h39.579v-23.92    C334.442,9.372,296.297,0,256,0C114.84,0,0,114.842,0,256s114.84,256,256,256s256-114.842,256-256    C512,241.101,510.706,226.5,508.251,212.293z"/></g>
                    </svg>
                </div>
                <p class="text-blue-gray-400 font-normal">待機時間</p>
                <%# 待機時間のinputのonkeyupにcheckSleep関数設定 %>
                <input name="sleep" type="text" class="text-base md:w-[102px] xl:w-auto md:text-sm text-gray-500 border-blue-200 md:border-white hover:text-gray-600 hover:border-blue-200 focus:border-blue-200 focus:text-gray-600 text-ellipsis rounded border px-[2px] py-[4px] focus:outline-none " value="<%= @sleep %>" required />
            </div>
        <% end %>
        
        <textarea placeholder="入力テキスト" name="text" id="text" class="textarea textarea-bordered textarea-xs join-item w-half max-w-xs mx-5" ></textarea>

    </div>
    <div id="side_menu" class="h-[90vh] bg-green-500">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.turbo.min.js"></script>

        <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
        </button>

        <aside id="sidebar-multi-level-sidebar" class="left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
            <ul class="space-y-2 font-medium">
                <li>
                    <div id="torCreateButton" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 180 180" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="tor-glyph" stroke="none" stroke-width="1"  fill-rule="evenodd">
                            <path d="M90.1846205,163.631147 L90.1846205,152.721073 C124.743583,152.621278 152.726063,124.581416 152.726063,89.9975051 C152.726063,55.4160892 124.743583,27.3762266 90.1846205,27.2764318 L90.1846205,16.366358 C130.768698,16.4686478 163.633642,49.3909741 163.633642,89.9975051 C163.633642,130.606531 130.768698,163.531352 90.1846205,163.631147 Z M90.1846205,125.444642 C109.677053,125.342352 125.454621,109.517381 125.454621,89.9975051 C125.454621,70.4801242 109.677053,54.6551533 90.1846205,54.5528636 L90.1846205,43.6452847 C115.704663,43.7450796 136.364695,64.4550091 136.364695,89.9975051 C136.364695,115.542496 115.704663,136.252426 90.1846205,136.35222 L90.1846205,125.444642 Z M90.1846205,70.9167267 C100.640628,71.0165216 109.090758,79.5165493 109.090758,89.9975051 C109.090758,100.480956 100.640628,108.980984 90.1846205,109.080778 L90.1846205,70.9167267 Z M0,89.9975051 C0,139.705328 40.2921772,180 90,180 C139.705328,180 180,139.705328 180,89.9975051 C180,40.2921772 139.705328,0 90,0 C40.2921772,0 0,40.2921772 0,89.9975051 Z" id="tor-glyph" ></path>
                        </g>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Tor</span>
                    </div>
                </li>
                <li>
                    <a href="/browser/youtube-video" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve">
                        <g>
                            <path d="M260.4,449c-57.1-1.8-111.4-3.2-165.7-5.3c-11.7-0.5-23.6-2.3-35-5c-21.4-5-36.2-17.9-43.8-39c-6.1-17-8.3-34.5-9.9-52.3   C2.5,305.6,2.5,263.8,4.2,222c1-23.6,1.6-47.4,7.9-70.3c3.8-13.7,8.4-27.1,19.5-37c11.7-10.5,25.4-16.8,41-17.5   c42.8-2.1,85.5-4.7,128.3-5.1c57.6-0.6,115.3,0.2,172.9,1.3c24.9,0.5,50,1.8,74.7,5c22.6,3,39.5,15.6,48.5,37.6   c6.9,16.9,9.5,34.6,11,52.6c3.9,45.1,4,90.2,1.8,135.3c-1.1,22.9-2.2,45.9-8.7,68.2c-7.4,25.6-23.1,42.5-49.3,48.3   c-10.2,2.2-20.8,3-31.2,3.4C366.2,445.7,311.9,447.4,260.4,449z M205.1,335.3c45.6-23.6,90.7-47,136.7-70.9   c-45.9-24-91-47.5-136.7-71.4C205.1,240.7,205.1,287.6,205.1,335.3z"/>
                        </g>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">YouTube動画ダウンロード</span>
                    </a>
                </li>
                <li>
                    <a href="/browser/video" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                    </svg>
                    <span class="ms-3">ページ内の動画を取得</span>
                    </a>
                </li>
                
                <%#
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Kanban</span>
                    <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Inbox</span>
                    <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                        <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                        <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
                    </a>
                </li> %>
            </ul>
        </div>
        </aside>
        <!-- <aside>
            <ul class="mobile-nav" id="mobile">
                <%= button_to "tor","/browser/tor-create",:method => :get %>
                <li class="menu-item menu-item-has-children">
                <p>基本操作</p>
                    <ul class="sub-menu">
                        <li class="menu_item">
                            <button id="holdButton" style="position:relative"><span class="pointer" id="one_hold">1</span>から<span class="pointer" id="two_hold">2</span>までをクリック&ホールド</button>
                        </li>
                        <li class="menu_item">
                            <%= button_to "selectタグ取得","/browser/select",:method => :get %>
                        </li>
                    </ul>              
                </li>
                <li class="menu-item menu-item-has-children">
                <p>動画</p>
                    <ul class="sub-menu">
                        <li class="menu_item">
                            <%= button_to "ページ内の動画","/browser/video",:method => :get %>
                        </li>
                        <li class="menu_item">
                            <%= button_to "YouTube","/browser/youtube-video",:method => :get %>
                        </li>

                    </ul>
                </li>
            </ul>
        </aside> -->
    </div>
    <!--ボタンとか上に持ってきたからスクリーンショット現在のブラウザの通りじゃなくなったけどそれは後々ボタンの分だけ引いたりして調整する-->
    <div id="browser" class="max-h-[90vh]">
        <div id="tab">
            <div id="tab_title">
                <% if !@tab_titles.nil? && @tab_titles.size > 0 && @tab_titles[0].length > 0 %>
                    <% i = 0 %>
                    <% @tab_titles.each do |title| %>
                        <% class_name = i == @tab_index ? "tab active" : "tab" %>
                        <div class="tab_main">
                        <%= form_tag("/browser/tab-move",method: :get) do %>
                        <input type="hidden" name="index" value="<%= i %>">
                        <button type="submit" class="<%= class_name %>"><%= title %></button>
                        <% end %>
                        <%= button_to "×", "/browser/tab-rm",:class => "tab_rm",:method => :get,params: {index: i} %>
                        </div>
                        <% i += 1 %>
                    <% end %>
                    <%= button_to "＋","/browser/tab-create",:class => "tab_create",:method => :get %>
                <% end %>
            </div>
            <div id="videos" >
                <% if !@video_path.nil? && @video_path.size > 0 %>
                    <% @video_path.each do |video| %>
                        <% if video.keys.first == "youtube" %>
                            <button id="video_button" class="btn_link btn-youtube"><span class="fab fa-youtube fa-fw"></span><%= video["title"] %></button>
                            <div id="video" class="z-[1000] none">
                                    <video controls name="media">
                                        <source  src="<%= video["youtube"][6..] %>" type="video/mp4">
                                    </video>
                            </div>
                        <% else %>
                            <button id="video_button" class="btn_link btn-video"><span class="fas fa-video"></span><%= video["title"] %></button>
                            <div id="video" class="z-1000">
                                <%= video["video"].html_safe %>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>

            <div id="protrude_tab" style="display:none">
                <span>...</span>
            </div>
        </div>
        <% if @file_path.nil? %>
        <% @file_path = "default" %>
        <% end %>
        <div id="imgbox" class="relative h-[calc(90vh-3em)]" >

            <p id="now_scrollup" class="scroll"></p>
            <div class="up h-[1000px]"></div>
            <div id="innerimg" class="relative  inset-x-0">
                <span id="now_scrollup"></span>
                <img src="/images/<%= @file_path %>.png" alt="page" id="img">
                <span id="now_scrolldown"></span>
            </div>
            <div class="down h-[2000px]" ></div>
            <div id="hide_tab"></div>


            <div class="pointer" id="one" style="display:none;">1</div>
            <div class="pointer" id="two" style="display:none;">2</div>
        </div>
    </div>
</main>

<script>


    var responsive_elements = ["arrow","text","sleep"]

    function getStyle(element_id,style_name){
        let element = document.getElementById(element_id);
        let style = window.getComputedStyle(element);
        let value = style.getPropertyValue(style_name);
        return value;
    }

    //sleep整数チェック
    function checkSleep() {
        let sleep = document.getElementById("sleep").value;
        let regex = /^([+-]?\d+)(?:\.\d+)?$/;
        if (regex.test(sleep)){
            let error = document.getElementById("error");
            error.innerText = "";
            error.style.display = "none";
        }else{
            var error = document.getElementById("error");
            error.innerText = "待機時間には実数を必ず入力してください";
            error.style.display = "block";
        }
    }

    //何番目のビデオボタンが押されたか

    function butotnClick(){
        let textbox = document.getElementById('url');
        let value = textbox.value;
        let url = encodeURIComponent(value);

        window.location.href = "/browser/" + url;
    }

    function createBrowser() {
        let width = document.getElementById("imgbox").clientWidth;
        let height = document.getElementById("imgbox").clientHeight + 146;
        window.location.href = "/browser/create?width=" + width + "&height=" + height;
    }

    function createTorBrowser() {
        let width = document.getElementById("imgbox").clientWidth;
        let height = document.getElementById("imgbox").clientHeight;
        window.location.href = "/browser/tor-create?width=" + width + "&height=" + height;
    }

    function clickAndHold() {
        let one_hold_value = getStyle("one","display");
        let two_hold_value = getStyle("two","display");
        let one_x = getStyle("one","left").replace("px","");
        let one_y = getStyle("one","top").replace("px","");
        let two_x = getStyle("two","left").replace("px","");
        let two_y = getStyle("two","top").replace("px","");

        if(one_hold_value == "block" && two_hold_value == "block"){
            window.location.href = "/browser/click-hold/" + one_x + "/" + one_y + "/" + two_x + "/" + two_y;
        }
    }

    function blockYoutube() {
        let youtube = document.getElementById("video");
        if (getStyle("video","display") == "none"){
            youtube.style.display = "block"
        }else{
            youtube.style.display = "none"
        }
    }


    // var urlSubmitButton = document.getElementById('submitButton');
    // urlSubmitButton.addEventListener('click', butotnClick);

    var createButton = document.getElementById("createButton");
    createButton.addEventListener("click", createBrowser);

    var torCreateButton = document.getElementById("torCreateButton");
    torCreateButton.addEventListener("click", createTorBrowser);

    var holdButton = document.getElementById("holdButton");
    holdButton.addEventListener("click",clickAndHold);

    // var videoButton = document.getElementById("video_button");#mount_0_0_kx > div > div > div.x9f619.x1n2onr6.x1ja2u2z > div > div > div.x78zum5.xdt5ytf.x1t2pt76.x1n2onr6.x1ja2u2z.x10cihs4 > section > main > div._aa6b._ad9f._aa6d > div._aa6e > article > div > div.x9f619.xjbqb8w.x78zum5.x168nmei.x13lgxp2.x5pf9jr.xo71vjh.x1n2onr6.x1plvlek.xryxfnj.x1c4vz4f.x2lah0s.xdt5ytf.xqjyukv.x1qjc9v5.x1oa3qoh.x1nhvcw1 > div > div > div._ae5q._akdn > ul > div:nth-child(3) > div > div > div:nth-child(3) > ul > div > li > div > div > div._a9zr > div._a9zs > span
    // videoButton.addEventListener("click",blockYoutube);
    var box_videos = document.querySelectorAll("#video");
                var imgbox = document.getElementById("imgbox");

    box_videos.forEach((video) => {
        imgbox.insertBefore(video,imgbox.firstChild);
    });


            var elms = document.querySelectorAll('#video_button');
    var index;// クリックした要素のインデックスを格納する変数
    elms.forEach((elm) => {// elementsを持つ要素すべてに以下の処理を追加する
    elm.addEventListener("click", () => {// クリックしたときに
        index = [].slice.call(elms).indexOf(elm);// インデックスを変数indexへ格納する
        console.log('順番',index);//変数「i」に順番が入っている（0スタート）
        let path = `#imgbox > div:nth-child(${index + 1})`;
        console.log(path);
        let action_video = document.querySelector(path);
        action_video.classList.toggle("block");
        path = `#videos > button:nth-child(${index + 1})`;
        let button = document.querySelector(path);
        button.classList.toggle("active");
    });
    });




    //画像クリックされた位置の座標送る-->

    document.getElementById( "img" ).addEventListener( "click", function( event ) {
    var click_x = event.pageX ;
    var click_y = event.pageY ;

    // 要素の位置を取得
    var client_rect = this.getBoundingClientRect() ;
    var position_x = client_rect.left + window.pageXOffset ;
    var position_y = client_rect.top + window.pageYOffset ;

    // 要素内におけるクリック位置を計算
    var x = Math.round(click_x - position_x );
    var y = Math.round(click_y - position_y );

    // 入力するテキストがあるかどうか確認
    var input_text = document.getElementById("text").value;
    if (input_text){
        window.location.href = "/browser/" + x + "/" + y + "/" + input_text;

    } else {
        window.location.href = "/browser/" + x + "/" + y;
    }


} ) ;

//スクロール検知-->

//厳密にはマウスホイール検知
//いちいち止まらなあかんのだるいから、スクロールした回数をpxに変換してその分一気にスクロールする
// window.onmousewheel = function(){
//     if(event.wheelDelta > 0){
//         window.location.href = "/browser/scrollup";
//     }else{
//         window.location.href = "/browser/scrolldown";
//     }
// }
var box = document.getElementById("imgbox");

var innerimg = document.getElementById("img");
innerimg.style.height = box.clientHeight + "px";



function noscroll(e){
e.preventDefault();
}
box.onscroll = function() {
    scroll = $(this).scrollTop() - 1032;
    if(scroll >= 0){
        document.getElementById("now_scrollup").innerText = "";
        document.getElementById("now_scrolldown").innerText = scroll;
    }else{
        document.getElementById("now_scrolldown").innerText = "";
        document.getElementById("now_scrollup").innerText = scroll;
    }
}
box.onscrollend = (event) => {
    if(Math.abs(scroll) >= 100){
        window.location.href = "/browser/scroll/" + scroll;
        scroll_flag = 1;
    }
};


// window.onload = function() {
//     sleep(100);
//     init_scroll();
// }
console.log("test12345");
if(scroll_flag == 1){console.log("aa");init_scroll();}

var scroll = 0;
var scroll_flag = 0;
    var a = document.getElementById("img").getBoundingClientRect().top;
    var elm = document.getElementById("imgbox");
    elm.scrollTop = 1032;

function init_scroll() {
    var a = document.getElementById("img").getBoundingClientRect().top;
    var elm = document.getElementById("imgbox");
    elm.scrollTop = 1032;
}
//特定の文字を押された際に特定の動作をする-->

var keyArr = []
var img_mouse_flag = false;
var hold_count = 0;

var hold_x = 0;
var hold_y = 0;

// function onKeyDown(e) {
//     console.log(e);
//     if(String(e.code) == "Backspace" && hold_count != 0 && img_mouse_flag == true){
//         var id = hold_count == 2 ? "one" : "two";
//         var element = document.getElementById(id);
//         element.style.display = "none";
//         var element_hold = document.getElementById(id + "_hold");
//         element_hold.style.opacity = 0.5;
//         hold_count = id == "one" ? 1 : 2; //3回とか押したら２だけが表示されるようなことが起きるけど動いたらヨシ!!
//     }
//     if(String(e.code) == "KeyM" && img_mouse_flag == true ){


//         if(hold_count <= 1){
//             var one = document.getElementById("one");
//             one.style.display = "block";
//             one.style.position = "absolute";
//             one.style.left = hold_x + "px";
//             one.style.top = hold_y + "px";
//             var one_hold = document.getElementById("one_hold");
//             one_hold.style.opacity = 1;
//             hold_count += 2;
//             console.log(hold_count);
//         }else{
//             var two = document.getElementById("two");
//             two.style.display = "block";
//             two.style.position = "absolute";
//             two.style.left = hold_x + "px";
//             two.style.top = hold_y + "px";
//             var two_hold = document.getElementById("two_hold");
//             two_hold.style.opacity = 1;
//             hold_count = 1;
//         }
//     }
//     keyArr.push(e.code)
//     if (keyArr.length > 10) {
//         keyArr.shift()
//     }

// }
// img = document.getElementById("img");
// document.addEventListener('keydown', onKeyDown);

document.onmousemove = onmousemove;
onmousemove = function(e) {
    var click_x = event.pageX ;
    var click_y = event.pageY ;

    // 要素の位置を取得
    var client_rect = document.getElementById("img").getBoundingClientRect() ;
    var position_x = client_rect.left + window.pageXOffset ;
    var position_y = client_rect.top + window.pageYOffset ;

    // 要素内におけるクリック位置を計算
    hold_x = click_x - position_x ;
    hold_y = click_y - position_y ;
}

//マスポインタがimg上にあるかどうか
document.getElementById("img").addEventListener("mouseout",function(){
    img_mouse_flag = false;
    console.log("mouseout");
})
document.getElementById("img").addEventListener("mouseover",function(){
    img_mouse_flag = true;
    console.log("mouseover");
})



$(function(){
    $('.btn-trigger').on('click', function() {
        $(this).toggleClass('active');
        $("#menu_list").toggleClass("active");
        return false;
    });
    $("#protrude_tab").on("click",function() {
        $(this).toggleClass('active');
        $("#hide_tab").toggleClass("active");
        return false;
    })
});


// function responsive(){
//     if (window.innerWidth <= 640){
//         responsive_elements.map(el => document.getElementById(el).classList.add("responsive_hide","none"));
//     }else{
//         if (document.getElementById(responsive_elements[0]).classList.contains("responsive_hide")) {
//             responsive_elements.map(el => document.getElementById(el).classList.remove("responsive_hide","none"));
//             clone_els = document.querySelectorAll("#cloned");
//             clone_els.map(el => el.remove());
//         }
//     }
//     var hide_elements = document.getElementsByClassName("responsive_hide");
//     for ( var i = 0, len = hide_elements.length; i < len; i++ ){
//         var menu = document.getElementById("menu_list");
//         var hide_element = document.getElementById(hide_elements[i]).cloneNode(true);//矢印のid arrowで二つともやからそれでありもしない？みたいな？
//         hide_element.id = "cloned";
//         menu.insertBefore(hide_element,menu.firstChild);
//     }
// }

window.addEventListener('resize',responsive);


//     var menu = document.getElementById("menu");
// var active_menu = menu.className;
// console.log(active_menu);
// if (active_menu.includes("active")){
//     var menu_list = document.getElementById("menu_list");
//     menu_list.style.display = "block";
// }

//はみ出てるボタン検知-->
document.addEventListener('turbolinks:load', function() {
  console.log('turbolinks:load');
});


function tab_protrude(allEls) {
    var tab_width = document.getElementById("tab").getBoundingClientRect().right;
    var i = 0;
    var end = 0;

    for(var j = 0; j < allEls.length;j++){
        i += 1;
        var right = allEls[j].getBoundingClientRect().right;
        console.log(right);
        if(right + 15 > tab_width) {
            console.log(right);
            console.log(tab_width);
            console.log(i + "ccc");
            console.log("slkrjghslkjghserhys");
            end = i;
            return i;
            
        }
    };
    return false;
}

function create_protrude_button(i,isTab = false) {
    document.getElementById("protrude_tab").style.display = "block";
    var hide_tab = document.getElementById("hide_tab");
    if(isTab == true){        
        var tabMainElements = document.querySelectorAll(".tab_main");
        var tabMainCount = tabMainElements.length;
        for(j = i-1;j < tabMainCount;j++){
            console.log(j + "aaa") ;
            hide_tab.appendChild(tabMainElements[j]);
        }
        var videoElements = document.querySelectorAll("#video_button");
        videoElements.forEach((elm) => {
            hide_tab.appendChild(elm);
        })
    }else{
        var videoElements = document.querySelectorAll("#video_button");
        var videoCount = videoElements.length;
        for(j = i;j < tabMainCount;j++){
            hide_tab.appendChild(videoElements[j]);
        }
    }
}

function main_tab_check() {
    var element = document.querySelector(".tab_create").getBoundingClientRect().right;
    var tab_width = document.getElementById("tab").getBoundingClientRect().right;
    if ( element + 15 > tab_width ){
        var allEls = document.querySelectorAll(".tab_rm");
        var tab_r = tab_protrude(allEls);
        console.log(tab_r + "ddd");
        if (tab_r == false){
            return 1;
        }else{
            return tab_r;
        }
    }else{
        return 0;
    }
}

if (document.querySelector(".btn") != null){//ビデオボタンがあるか
    var allEls = document.querySelectorAll('.btn');
    var r = tab_protrude(allEls);
    if ( r != false ){//ビデオボタンがはみ出てる
        var result = main_tab_check();
        if(result == 0){
            create_protrude_button(r,isTab=false);
        }else if(result == 1){
            create_protrude_button(1,isTab=true);
        }else{
            create_protrude_button(result,isTab=true);
        }
    }
}else{
    var result = main_tab_check();
    console.log(result + "bbb");
        if(result == 0){
            
        }else if(result == 1){
            create_protrude_button(1,isTab=true);
            console.log(result + "bbb");

        }else{
            create_protrude_button(result,isTab=true);
        }
}
    var widths = 0;

</script>

